body {
  /* background-color: darkgrey;
  font-family: "Courier New", Courier, monospace;
  color: aliceblue; */
}
#game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr1fr 1fr;
}

#ourCanvas {
  display: flex;
  grid-area: 2/2;
  border: black;

}
