body {
    display: flex;
    background-color: darkgrey; 
    font-family: "Courier New", Courier, monospace;
    color: aliceblue; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}


#ourCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
  border: 1px solid black;
}
